<mat-card class="contact">
	<mat-card-header>
		<mat-card-title><h1>{{sectionContent.title}}</h1></mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<dl *ngIf="sectionContent.methods.websites.length">
			<dt><strong>Websites:</strong></dt>
			<dd *ngFor="let site of sectionContent.methods.websites">{{site}}</dd>
		</dl>
		<dl *ngIf="sectionContent.methods.emails.length">
			<dt><strong>Emails:</strong></dt>
			<dd *ngFor="let email of sectionContent.methods.emails">{{email}}</dd>
		</dl>
		<div *ngIf="sectionContent.methods.phoneNumbers.length">
			<dt><strong>Phone Numbers:</strong></dt>
			<dd *ngFor="let number of sectionContent.methods.phoneNumbers">{{number}}</dd>
		</div>
	</mat-card-content>
</mat-card>