<mat-card  class="employment-card">
  <mat-card-header>
    <mat-card-title>{{sectionContent.tenureBegan | date:'MMM YYYY'}} - {{sectionContent.tenureEnded | date : 'MMM YYYY'}}</mat-card-title>
    <mat-card-subtitle><strong>{{sectionContent.employer}} - {{sectionContent.position}}</strong></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let responsibility of sectionContent.responsibilities">{{responsibility}}</li>
    </ul>
  </mat-card-content>
</mat-card>